{% extends './base.html' %}

{% block title %} Inicio de sesión {% endblock title %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock customCSS %}

{% block body %}
<form class="form-signin w-100 m-auto" action="/register" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <img class="mb-4" src="{{ url_for('static', filename='img/bookstore.png') }}" alt="" height="57">
  <h1 class="h3 mb-3 fw-normal">Crear una cuenta</h1>
  <br>
  <div class="form-floating">
    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario" minlength="6" maxlength="20" required autofocus>
  </div>
  <br>
  <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" minlength="6" maxlength="12" required>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password" minlength="6" maxlength="12" required>
  </div>
  <br>
  <div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button>
  </div>
  <div>
    <a class="btn" href="{{ url_for('login') }}">Ya tengo una cuenta</a>
</div>
  <p class="mt-5 mb-3 text-muted">&copy;2022</p>
</form>
  
{% block customJS %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script src="{{ url_for('static', filename='js/password.js') }}"></script>
{% endblock customJS %}

{% endblock body %}
