{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock customCSS%}

{% block container %}
<div class="row">
    {% for b in data.books %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card mb-4 shadow-sm">
            
            <img src="{{ url_for('static', filename=b.cover) }}" alt="{{ b.title }}" class="card-img-top" height="320">
            <div class="card-body">
                <h5 class="card-title">{{ b.title }} <span style="float: right;">USD/. {{ b.price }}</span></h5>
                <p class="card-text">{{ b.id_author.full_name() }}</p>
                <button id="{{ b.isbn }}" class="btn btn-block btn-primary btnBuyBook">Buy</button>
            </div>
        </div>
    </div>
    {% endfor %}
    <input type="hidden" name="csrf-token" value="{{ csrf_token() }}">
</div>


{% endblock container %}

{% block customJS %}
    <script src="{{ url_for('static', filename='lib/sweetalert2-9.10.0/sweetalert2.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notificationSwal.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/book_list.js') }}"></script>
{% endblock customJS %}