<h4>{{ data.title }}</h4>
<br>
<div class="row">
    {% if data.books_sold|length > 0 %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Book</th>
                            <th>Items Sold</th>
                            <th>Price.</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set contador = namespace(total=0) %}
                        {% for b in data.books_sold %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ b.title }}</td>
                            <td>{{ b.items_sold }}</td>
                            <td>USD/. {{ b.price }}</td>
                            <td>USD/. {{ (b.price * b.items_sold) }}</td>
                        </tr>
                        {% set contador.total = contador.total + (b.price * b.items_sold) %}
                        {% endfor %}
                        <tr>
                            <td colspan="4"></td>
                            <td><strong>USD./ {{ contador.total }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h2>There are not books sold yet!</h2>
        </div>
    {% endif %}
</div>