{% extends './body.html' %}

{% block title %}Add Book{% endblock title %}


{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock customCSS %}

{% block body %}



<form class="form-signin w-100 m-auto" enctype="multipart/form-data" action="/books/add_book" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h1>Add new book</h1>
      </div>
    </div>
    <hr>
    <!-- START flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'warning' %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong style="font-size: 14px;">{{ message }}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <br>
          {% else %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong style="font-size: 14px;">{{ message }}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <br>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
    <!-- END flash messages -->
    <div class="form-group">
      <label for="Title">Title</label>
      <input type="text" class="form-control" id="Title" name="Title" placeholder="Title" required>
    </div>
    <div class="form-group">
      <label for="id_author">Select Author</label>
      <select class="form-control" name="id_author" id="id_author" required>
        {% for a in data.authors %}
        <option value="{{ a.id_author}}">{{ a.full_name()}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="publication_date">Publication date</label>
      <input type="date" class="form-control" id="Publication_date" name="Publication_date" required>
    </div>
    <div class="form-group">
      <label for="Price">Price</label>
      <input type="number" class="form-control" step="0.01" max="9999.99" id="Price" name="Price" placeholder="Price in USD" required>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" name="customFile">
      <label class="custom-file-label" for="customFile">Choose a cover</label>
      <small class="text-muted">Extensions supported: .png, .jpg, and .jpeg</small>
    </div>
    <br>
    <hr>
    <div>
      <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Create</button>
    </div>
</form>

{% endblock body %}


{% block customJS %}
  <script src="{{ url_for('static', filename='js/add_book.js') }}"></script>
{% endblock customJS %}